@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ff69b4" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 14.25 2 11.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C15.09 3.81 16.76 3 18.5 3 21.58 3 24 5.42 24 8.5c0 2.78-3.4 5.75-8.55 11.54L12 21.35z"/></svg>'),
    auto;
} */

@layer components {
  .badge {
    @apply absolute right-0 z-50 px-4 py-2 font-semibold text-white -rotate-90 rounded-full -top-4;

    &--red {
      @apply bg-red-300;
    }

    &--green {
      @apply bg-green-300;
    }

    &--purple {
      @apply bg-purple-600;
    }
  }
}
.rotate-card {
  transition: transform 0.5s ease;
}

.rotate-container:hover .rotate-card {
  transform: rotatey(0.5turn);
}
